/*슬라이드*/


.slider {
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.slider ul {
/*    width: 100%;*/
    position: relative;
    float: left;
/*    overflow: hidden;*/
}

.slider ul li {
    float: left;
/*    width: 100%;*/
/*    overflow: hidden;*/
}
img{
    width: 50%;
    float: left;    
}
.text{
    width: 50%;
    height: 500px;
    float: left;
    background: rgb(248, 245, 241);
}
