*{ padding: 0; margin: 0; }
html, body{ width: 100%; font-size: 15px; }
/*
body{width: 100%} 
section{width: 1200px;} 
*/

/*엘리먼트 초기화*/
a{ color: inherit; text-decoration: none; }
img{ width: 100%; vertical-align: bottom; }
ul, li{ list-style: none; }
button{ border: 0; cursor: pointer;}
table{ table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

/*컨텐츠 설정*/
section{padding-left: 4%; padding-right: 4%; }
