
/*body { height: 100vh; }*/
.left_nemu{
    width: 12%;
    height: calc(100vh - 70px); /* -(마이너스) 양 옆에 공백 필수*/
    float: left;
/*    border-right: 1px solid #ccc;*/
    background: #3a0e93;
/*    padding-left: 6%;*/    /*hover할 때 왼쪽 여백이 너무 커서 별로일 거 같다*/
}

.left_nemu ul li{
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;    
}
.left_nemu ul li span{
    width: 95%;
    display: inline-block;
    line-height: 40px;
}
.left_nemu ul li span a{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    color: #fff;        
}

.left_nemu ul li:hover span{
    background: #4f21ad;
    border-radius: 3px;
}