@charset "UTF-8";
.content{
	display: inline-block;
    width: 52%;
    padding-top: 60px;
    margin-right: 19%;
}
#info_list{
	display:flex;	
	justify-content: center;    
}
info_list{
	margin-top: 9%;
    display: flex;
    justify-content: center;
}
.infoTit{
	width: 25%;
    text-align: left;
    font-weight: 600;
}
.infoTit p{
	padding-bottom: 10px;
}
form div{
	padding-bottom: 10px;
}
.name_text{
	padding-bottom: 22px;
}
.tit{
	color: #fff;
}
#passwdCheck, #passwdCheck2{
	color: #ccc;
}
.save_btn{
	width: 100%;
    background: #6239c3;
    color: #fff;
    border: none;
    padding: 8px 0;
    margin-top: 25px;
}
.info_del{
	display:flex;	
	justify-content: center;   
	margin-top: 7%;
	padding-top: 7%;
    border-top: 1px solid #ccc; 
}
.del_btn{
	width: 100%;
    background: #d50c0c;
    color: #fff;
    border: none;
    padding: 8px 0;
    margin-top: 25px;
}
