@charset "UTF-8";
#emp_list{
	display:flex;
	margin-right: 19%;
}
.btn{
	width: 150px;
    text-align: center;
    background: #eee;
    height: calc(100vh - 70px); 
}
.btn a{
	display: block;
	line-height: 50px;
}
.btn a:first-child{
	margin-top: 30px;
}
#save_btn{
	background: #7c4fff21;
    border: none;
    padding: 3px 11px;
    border-radius: 5px;
    font-size: 15px;
}
#delete_btn {
    background: #7c4fff21;
    border: none;
    padding: 3px 11px;
    border-radius: 5px;
}
form{
	margin: 30px 0 30px 30px;
}
.notice{
	margin-bottom: 20px;
	color: #999;
}
.list{
	background: #fff;
}
table td, table tr{
/*    border: 1px solid #222;*/
}
.emp_list{
    border-top: 2px solid #333;
    margin-top: 10px;
}
.emp_tit{
    border-bottom: 1px solid #999;
    font-weight: 600;
}
.emp_list td:not(:first-child) {
    width: 176px;
    padding: 10px;
    text-align: center;
}
.emp_info td{    
    border-bottom: 1px solid #ccc;
}
.emp_info .key{
    text-align: center;
}
