@charset "UTF-8";
.view{
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}
.pro_img{
    width: 50%;
    float: left;
}
.pro_img img{
   width: 530px;
}
.pro_info{
    width: 50%;
    float: left;
}
.pro_info .pro_company{
    margin-bottom: 7px;
}
.pro_info .title{
    display: table;
    margin-bottom: 13px;
}
.pro_info .pro_nm{
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    margin-right: 8px;  
    line-height: 22px;
}
.pro_info .keyword{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    border-radius: 5px;    
    background-color: #6239c3;
    font-size: 14px;     
    padding-left: 7px;
    padding-right: 7px;
}
.pro_info .pro_explain{
    background: #F7F1FF;
    padding: 17px 13px;
    border-radius: 5px;  
    margin-bottom: 35px
}
.pro_info .review_info{
    padding: 25px 0;
    border-top: 1px solid #eee;
}
.pro_info .review_info .tit{
    font-size: 16px;
    font-weight: 600;
    color: #f97600;
    margin-bottom: 9px;
}
.pro_info .review{    
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}
.pro_info .review .review_tit{
    flex: 1;
    text-align: center;
    line-height: 33px;
}
.pro_info .review .best_vote{
    background: #ffe1c6;
}
.pro_info .review .review_tit li:first-child{
    font-size: 14px;
    font-weight: 600;
}
.pro_info .review .review_tit li:last-child{
    font-weight: 600;
    font-size: 18px; 
}
.pro_info .review_rs{
    padding-top: 13px;
    color: #777;
}
.pro_info .btn{    
    font-weight: 600;
    line-height: 45px;
    display:flex;
    gap: 10px;
    margin-top: 13%;
}
.pro_info .btn .go_review{
    width: 35%;
    line-height: 43px;
    display: inline-block;
    border: 1px solid #444;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}
.pro_info .btn .go_buy{
    width: 63%;
    display: inline-block;
    background: #444;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
h3{
    margin: 0;
    padding-bottom: 3%;
    border-bottom: 2px solid #333;
}
.reviewList {
    display: flex;
    text-align: center;
    line-height: 35px;
    padding-bottom: 3%;
    border-bottom: 1px solid #eee;
    padding-top: 3%;
    justify-content: center;
}
.icon{
    width: 7%;
    font-size: 30px;
}
.id{
    width: 10%;
}
.tit{
    width: 14%;
    font-weight: 600;
    color: #6239c3;
}
.sub{
    width: 18%;
}
.create_dt{
    width: 10%;
    color: #ccc;
}
.container{
	padding: 5% 15% 0 15%;
}