@charset "UTF-8";
/*제품 등록 css*/
.btn{
	width: 11%;
    text-align: center;
    background: #eee;
}
.btn a{
	display: block;
	line-height: 50px;
}
.btn a:first-child{
	margin-top: 30px;
}
.reg{
	background: #fff;
}
.content{
    height: calc(100vh - 70px); 
    display: flex;
    background: #eee;
}
.bg{
    width: 100%;
    display: flex;
    flex: 1;    
    padding-top: 50px;    
    background: #fff;
}
.pro_tit{
    width: 20%;
    text-align: center;
    font-weight: 600;
}
.pro_tit p{
   line-height: 55px;
}
form{
	/*width: 35%;*/
}
.pro_value div{
    line-height: 55px;
}
.pro_value div input{    
    line-height: 20px;
}
input[type=radio],  input[type=radio] + label{
    cursor: pointer;
}
.sub input[type=radio]{
	vertical-align: middle;
    appearance: none;
    border: 1px solid #6239c3;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}

.sub input[type="radio"]:checked {
  border: 5px solid #6239c3;
}
.sub label{
	padding-right: 13px;
	padding-left: 5px;	
}

/*키보드 사용자(웹접근성) 고려*/
.sub input[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}
.keybtn {
	/*
    background: #6239c3;
    color: #fff;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    */
    padding: 1px 7px;
}
.keyInput{
	border: none;
}
.button{
    padding-top: 50px;    
}
.button .reg{
	width: 120px;
	border: none;
	height: 40px;
	text-align: center;
    background: #6239c3;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
}
.button .reset{
	width: 120px;
	border: none;
	height: 40px;
	text-align: center;
    background: #e3e3e3;
    color: #444;
    margin-bottom: 15px;
    border-radius: 5px;
}
.img{
	margin-top: 4% !important;
    width: 170px;
}
.emp_reg input{
	padding: 1px 7px;	
}
