@charset "UTF-8";
.admin_main{
	display: flex;
	width:52%;
	margin-right: 15%;
	margin-top: 4%;
	flex-wrap: wrap;
}
.board{
	width: 95%;
    text-align: center;
	border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-bottom: 8%;
}
.board ul{
    flex: 1;
    text-align: center;
    font-size: 17px;
}
.board .myVote{
    color: mediumpurple;
    font-weight: 600;
    font-size: 20px;
}
.tit{
	width: 95%;
	margin-left: 5%;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #444;
}
#myChart{
	width:95% !important;
	margin-left: 5%;
}