@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{ padding: 0; margin: 0; font-family: 'Gowun Dodum', sans-serif;}
html, body{ width: 100%; font-size: 15px; }
/*
body{width: 100%} 
section{width: 1200px;} 
*/

/*엘리먼트 초기화*/
a{ color: inherit; text-decoration: none; }
p{margin: 0;}
input {box-sizing: border-box;}
img{ width: 100%; vertical-align: bottom; }
ul, li{ padding: 0; margin: 0; list-style: none; }
button{ border: 0; cursor: pointer; background: none; padding: 0; font-size: 15px;}
table{ table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

/*컨텐츠 설정*/
section, footer{padding-left: 19%; padding-right: 19%; }

#pageList{ text-align: center;}

.mypageWrap{  margin-left: 19%; margin-right: 19%; margin-top: 2%;}
