.content{
	width: 100%;
}
.tit{
	width: 100%;
	text-align: center;
    padding: 7px 0;
    font-weight: 600;
	background: #e9eaeb;
	font-size: 16px;
}
#keywordList{
    padding: 20px 35px 20px 35px;
}
.titList{
    display: flex;
    padding-bottom: 7px;
}
.titList span{
    width: 50%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding-left: 15px;
}
button{
    width: 100%;
    display: flex;
}
button p{
    width: 50%;    
    text-align: left;
    padding: 7px 0; 
    padding-left: 15px;
    border-top: 1px solid #ccc;
}
button:last-child{
    border-bottom: 1px solid #ccc;
}
button:nth-child(2n){
    background: #7c4fff08;
}