@charset "UTF-8";

/*body { height: 100vh; }*/
.left_nemu{
    width: 10%;
    float: left;
    background: #3a0e93;
	min-height: calc(100vh - 70px);
	margin-left: 19%;
}

.left_nemu ul li{
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;    
}
.left_nemu ul li span{
    width: 96%;
    display: inline-block;
    line-height: 40px;
}
.left_nemu ul li span a{
    width: 55%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    color: #fff;        
}

.left_nemu ul li:hover span{
    background: #4f21ad;
    border-radius: 3px;
}
