@charset "UTF-8";
.loginArea{
	width: 100%;
	margin-top: 110px;
	margin-bottom: 300px;
}
form{
    width: 100%;
}
.loginWrap{
    width: 265px;
    margin: 0 auto;
}
h2, p{
    text-align: center;
    margin-bottom: 15px !important;
}
input{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    margin-bottom: 10px;
}
.find{
    display: inline-block;
    float: right;
    font-size: 13px;
}
.join{
    display: inline-block;
    float: left;
    font-size: 13px;
}
.login_btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 50px;
    background: #6239c3;
    color: #fff;
    margin-bottom: 15px;
}