@charset "UTF-8";
/*메인페이지만 여백 다르게*/
.step2, .step3, .step4 {
    padding: 0 15% 0 15%;
}

/*슬라이드 step1*/
.step1 .slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 6%;
}

.step1 .slider ul {
    /*width: 100%;*/
    position: relative;    /*요소를 흐르듯이 슬라이딩하는데 필요함*/
}

.step1 .slider ul li {
    width: 100%;
    float: left;            /*다음 li요소를 옆에 붙여야 하기 때문에 필요함 없으면 다음 요소가 없어서 공백이 슬라이드 됨*/
}
.step1 .slider ul li img{
    /*width: 100%;*/
    float: left;            /*사진 반틈 텍스트 영역 반틈*/
}

/*step2*/
.step2 .banner{
    width: 100%;
    height: 82px;
    background: #6239c3;
    color: #fff;
    text-align: center;
    line-height: 82px;
    font-size: 22px;
}

.step2 ul{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5.5%;
    border-bottom: 1px solid #eee;
}

.step2 ul li:not(:first-child){
     padding-left: 20px;
}
.step2 ul li:not(:last-child){
     padding-right: 20px;
}
.step2 ul li img{    
    height: 280px;    
}
.step2 ul li p{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 600;
}   

/*step3*/
.step3 div {
    width: 100%;
    overflow: hidden;
    height: 400px;
    padding-top: 5.5%;
    margin-bottom: 5.5%;
}

.step3 div ul {
    width: 100%;
    position: relative;    /*요소를 흐르듯이 슬라이딩하는데 필요함*/
}

.step3 div ul li {
    width: 100%;
    float: left;            /*다음 li요소를 옆에 붙여야 하기 때문에 필요함 없으면 다음 요소가 없어서 공백이 슬라이드 됨*/
}
.step3 div ul li img{
    width: 50%;
    float: left;            /*사진 반틈 텍스트 영역 반틈*/
}
.step3 div ul li .text{
    width: 50%;
    height: 400px;         /*모바일 디바이스에서는 px값 쓰면 안 된다 추후에 미디어쿼리 이용 필수 */
    float: left;                /*사진 반틈 텍스트 영역 반틈*/
    background: rgb(248, 245, 241);
}

/*step4*/
.step4 .keywordEx{
    width: 100%;
}
.step4 .keywordEx .tit{
    font-size: 32px;
    font-weight: 600;
    padding-top: 4%;
    padding-bottom: 3%;
}
.step4 .keywordEx .keylist li{
    float: left;
}
.step4 .keywordEx .keylist li:not(:first-child){
    padding-left: 10px;
}
.step4 .keywordEx .keylist li span{
    padding: 5px 18px 5px 18px;
    background: #333;
    color: #fff;
    border-radius: 50px;
}

.step4 .keywordEx .prolist{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5.5%;
}

.step4 .keywordEx .prolist li:not(:first-child){
     padding-left: 20px;
}
.step4 .keywordEx .prolist li:not(:last-child){
     padding-right: 20px;
}
.step4 .keywordEx .prolist li img{    
    height: 280px;    
}
.step4 .keywordEx .prolist li p{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 600;
}   

.step4 .keyword{
    width: 100%;
    line-height: 40px;    
    background-color: #f8f5f1;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10%;
    padding-top: 25px;
    padding-bottom: 30px;
}
.step4 .keyword .tit{
    font-size: 22px;
    padding-left: 50px;
    font-weight: 600;
    color: #222;
}
.step4 .keyword .tit span{
	font-size: 15px;
}
.step4 .keyword > div{
/*    --gap: 5rem;*/
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    gap: var(--gap);*/
    margin-top: 20px;
}
.step4 .keyword .slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
/*    gap: var(--gap);*/
/*    -webkit-animation: 100s linear infinite marquee;*/
    animation: 20s linear infinite marquee;
}
.step4 .keyword .slide li{
    padding: 1px 20px 1px 20px;
    background: #333;
    color: #fff;
    border-radius: 50px;
}
    
@keyframes marquee {
    0%   { transform: translateX(0); }
/*    100% { transform: translateX(calc(-100% - var(--gap))); }*/
    100% { transform: translateX(-100%); }
}
/*에니메이션이 다시 시작할 때 버벅거리다가 잘 되다가 그러는데 나중에 확인 한 번 더 하고 주석 정리*/

/*미디어쿼리 시작*/
@media(min-width: 768px){
    .step2 ul, .step4 .keywordEx .prolist{
        display: flex;
    }
    .step2 ul li, .step4 .keywordEx .prolist li{
        flex: 1;
    }
}
