@charset "UTF-8";
.container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

/*오른쪽 영역*/
.container .myContent{
    width: 76%;
    padding-left: 7%;
    padding-top: 30px;
}
.myContent > div{
    width: 100%;
}
.myContent .board{
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.myContent .board p{
    flex: 1;
    text-align: center;
    font-size: 18px;
}
.myContent .board .myVote span{
    color: mediumpurple;
    font-weight: 600;
    font-size: 22px;
}
.myContent .vanner{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 7%;
    padding-bottom: 7%;
}
.myContent .vanner > div{
    width: 90px;
    flex: 1;
}
.myContent .porList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.myContent .porList > div{
    width: 140px;
    height: 160px;
    flex: 1;    
    background: #444;
} 
.porList_tit {
	padding-bottom: 18px;
    font-size: 17px;
}