@charset "UTF-8";
.mypageWrap{
    
}
.container{
    width: 1000px;
    margin: 0 auto;
}

/*오른쪽 영역*/
.container .myContent{
    width: 67%;
    border-left: 1px solid #ccc;
    padding-left: 3%;
    float: left;
    padding-top: 3%;
}
.myContent > div{
    width: 100%;
}
.myContent .board{
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.myContent .board p{
    flex: 1;
    text-align: center;
    font-size: 18px;
}
.myContent .board .myVote span{
    color: mediumpurple;
    font-weight: 600;
    font-size: 22px;
}
.myContent .vanner{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 8%;
    padding-bottom: 8%;
}
.myContent .vanner > div{
    width: 90px;
    height: 75px;
    flex: 1;
    
    background: skyblue;
}
.myContent .porList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.myContent .porList > div{
    width: 140px;
    height: 160px;
    flex: 1;    
    background: #444;
} 