@charset "UTF-8";
/*사용자 제품 목록 css*/
.a_bg{
	display: flex;
	flex-wrap: wrap;
}
.photo img{
	/*width: 260px;*/
	height: 260px;
	border-radius: 10px;
}
button{	
	background: #7c4fff21;
    border: none;
    padding: 3px 11px;
    border-radius: 5px;
}
/*미디어쿼리 시작*/
@media (min-width: 768px){   
    .list .container{
         justify-content: flex-start;         /*4행 space-between 초기화*/
    }
    
    .list article{
        width: calc(33.3333% - 30px);
        margin: 50px 15px;   
            
    }
}
@media (min-width: 1200px){
    
    .list article{
        width: calc(25% - 30px);
    }
}