@charset "UTF-8";
/*관리자 후기 설정 css*/
.btn{
	width: 150px;
    text-align: center;
    background: #eee;
    min-height: calc(100vh - 70px);
}
.btn a{
	display: block;
	line-height: 50px;
	background: #fff;
	margin-top: 30px;
}
.list{
	display: flex;
	margin-right: 15%;
}
.review_list{
	background: #fff;
	display: block;
}
table {
	border-top: 2px solid #333;
  	border-collapse: separate;
  	border-spacing: 0 9px;
  	margin: 30px 0 0 30px;
}
.review_tit{
	font-weight: 600;
}
table .review_info td{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;	
}
	
.review_code{
	margin-left: 20px;
	margin-right: 20px;
}
.create_dt, .tit_fg, .pro_nm, .create_id, .sub_fg{
	width: 130px;
	text-align: center;
	font-size: 15px;
}
.photo{
	height:50px;
}
.photo img{
	width: 100px !important;
	height:100px;
}
.sub_fg span{
	display: block;
}
button{	
	background: #d50c0c21;
    border: none;
    padding: 3px 11px;
    border-radius: 5px;
    border: 1px solid #d50c0c21;
}