@charset "UTF-8";
.container .myContent{
    width: 76%;
    padding-left: 7%;
    padding-top: 50px;
}
h2{
	border-bottom: 1px solid #333;
    padding-bottom: 5px;
}
.myContent > div{
    width: 100%;
    margin-top: 9%;
    display: flex;
    justify-content: center;
}
.user_info{
    width: 25%;
    text-align: left;
    font-weight: 600;
}
.tit{
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #eee;
	color : #ccc;    
    font-size: 17px;
}
.user_info p{
	padding-bottom: 10px;
}
form div{
	padding-bottom: 10px;
}
.key_value{
	width: 100%;
}
#passwdCheck{
	color: #ccc;
}
.btn{
    width: 100%;
    background: #d50c0c;
    color: #fff;
    border: none;
    padding: 8px 0;
    margin-top: 25px;
}